{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@/components": "./src/components",
          "@/pages": "./src/pages",
          "@/common": "./src/common",
          "@/services": "./src/services",
          "@/layouts": "./src/layouts",
          "@/utils": "./src/utils",
          "@/global": "./src/global"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
