.classicContent-m {
  margin: 0 40px 0 30px;
  padding-top: 20px;
  .cla-item {
    padding: 30px 0;
    color: #333;
    .cla-item-text {
      padding-right: 48px;
      h1 {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
      }
      div {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
      }
      button {
        margin-top: 15px;
        color: #666;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
      }
    }
    > img {
      width: 325px;
      height: 180px;
      border-radius: 12px;
      box-shadow: -16px 0 2px -6px rgba(242, 242, 242, 1);
    }
  }
}
.ant-btn {
  border: none;
}
