@import '../components/common.less';
.map {
  width: 100%;
  height: 100%;
  .mapT {
    position: relative;
    width: 100%;
    height: 100%;
    // background-image: url('/images/map.png');
    background-size: cover;
    .map-selector {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    .business-intro {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      width: 300px;
      transform: translateY(-50%);
      cursor: pointer;
      .business-info {
        padding: 16px;
        background: rgba(67, 73, 94, 0.5);
        transition: background 0.3s;
        &:hover {
          background: rgba(67, 73, 94, 0.7);
        }
        h1 {
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
        p {
          color: white;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .content {
    width: 100%;
    padding: 70px 0 20px;
    background: #f6f6f6;
    .content-t {
      justify-content: space-between;
      height: 40px;
      color: #1b2857;
      p {
        width: 470px;
        height: 1px;
        margin: 0;
        background: #ddd;
      }
      div {
        div {
          margin-right: 7px;
          margin-left: 15px;
          font-weight: 800;
          font-size: 28px;
        }
      }
      sup {
        top: -6px;
        font-size: 16px;
      }
    }
    .content-b {
      text-align: center;
      button {
        position: relative;
        padding: 4px 24px;
        color: #ccc;
        font-size: 18px;
        line-height: 12px;
        background: transparent;
        border: 1px solid rgba(204, 204, 204, 1);
        border-radius: 19px;
      }
    }
    .content-c {
      margin: 46px 0 40px;
      line-height: 28px;
    }
    .content-caseC {
      margin: 55px 0 40px;
      .item {
        position: relative;
        z-index: 1;
        width: 380px;
        height: 280px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
        .item-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 380px;
          height: 280px;
          padding: 8px 24px;
          color: #fff;
          background: url('/images/case/card1.png') center no-repeat;
          background-size: cover;
          border-radius: 10px;
          transition: all 0.3s;
          // overflow: hidden;
          &:hover {
            top: -20px;
            left: -10px;
            width: 400px;
            height: 320px;
            p {
              margin-top: 30px;
            }
            div {
              height: auto;
            }
          }
          &::after {
            position: absolute;
            top: 22%;
            left: 10%;
            z-index: -1;
            width: 80%;
            height: 80%;
            background: inherit;
            opacity: 0.8;
            filter: blur(1rem);
            content: '';
          }
          h1 {
            color: #fff;
            font-weight: 600;
            font-size: 24px;
          }
          p {
            margin-top: 130px;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 20px;
            transition: all 0.3s;
          }
          div {
            height: 22px;
            overflow: hidden;
            color: rgba(255, 255, 255, 0.8);
            font-size: 16px;
            line-height: 22px;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .mapImg {
    background: #f6f6f6;
    img {
      width: 100%;
    }
  }
}
