@import '../components/common.less';
.map {
  width: 100%;
  height: 100%;
  .mapT {
    position: relative;
    width: 100%;
    height: 100%;
    // background-image: url('/images/map.png');
    background-size: cover;
    .mapT-container {
      position: relative;
    }
    .map-footer {
      padding: 12px;
      color: rgba(255, 255, 255, 0.6);
      background: #25272b;
      .icons {
        i {
          margin-right: 32px;
          color: white;
          cursor: pointer;
          &:last-of-type {
            margin: 0;
          }
        }
      }
      .links {
        a {
          margin-left: 24px;
        }
        .fz-qingke {
          color: white;
        }
      }
    }
    .map-selector {
      position: absolute;
      top: 50%;
      left: 8px;
      z-index: 1000;
      transform: translateY(-50%);
    }
    .business-intro {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      width: 300px;
      transform: translateY(-50%);
      cursor: pointer;
      .business-info {
        padding: 16px;
        background: rgba(67, 73, 94, 0.5);
        transition: background 0.3s;
        &:hover {
          background: rgba(67, 73, 94, 0.7);
        }
        h1 {
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
        p {
          display: -webkit-box;
          overflow: hidden;
          color: white;
          font-size: 14px;
          line-height: 20px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
  .content {
    width: 100%;
    padding: 70px 0 20px;
    background: #f6f6f6;
    .content-t {
      justify-content: space-between;
      height: 40px;
      color: #1b2857;
      p {
        width: 470px;
        height: 1px;
        margin: 0;
        background: #ddd;
      }
      div {
        div {
          margin-right: 7px;
          margin-left: 15px;
          font-weight: 800;
          font-size: 28px;
        }
      }
      sup {
        top: -6px;
        font-size: 16px;
      }
    }
    .content-b {
      text-align: center;
      button {
        position: relative;
        padding: 4px 24px;
        color: #ccc;
        font-size: 18px;
        line-height: 12px;
        background: transparent;
        border: 1px solid rgba(204, 204, 204, 1);
        border-radius: 19px;
      }
    }
    .content-c {
      margin: 46px 0 40px;
      line-height: 28px;
    }
    .content-caseC {
      margin: 55px 0 40px;
      .item {
        position: relative;
        z-index: 1;
        width: 380px;
        height: 280px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
        .item-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #fff;
          background: url('/images/case/card1.png') center no-repeat;
          background-size: cover !important;
          border-radius: 10px;
          transition: all 0.3s;
          .item-content-container {
            width: 100%;
            height: 100%;
            padding: 8px 24px;
            overflow: hidden;
            border-radius: 10px;
            transition: background-color 0.3s;
            p {
              color: white;
            }
          }
          &:hover {
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            p {
              margin-top: 30px;
            }
            .item-content-info {
              height: auto;
            }
            .item-content-container {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
          &::after {
            position: absolute;
            top: 22%;
            left: 10%;
            z-index: -1;
            width: 80%;
            height: 80%;
            background: inherit;
            opacity: 0.8;
            filter: blur(1rem);
            content: '';
          }
          h1 {
            color: #fff;
            font-weight: 600;
            font-size: 24px;
          }
          p {
            margin-top: 130px;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 20px;
            transition: all 0.3s;
          }
          .item-content-info {
            height: 22px;
            overflow: hidden;
            color: rgba(255, 255, 255, 0.8);
            font-size: 16px;
            line-height: 22px;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .mapImg {
    background: #f6f6f6;
    img {
      width: 100%;
    }
  }
}

.ant-dropdown {
  &.footer-overlay {
    top: ~'calc(100vh - 94px)!important';
    .overlay {
      padding: 10px;
      color: white;
      background: #25272b;
      border-radius: 3px;
      a {
        color: white;
      }
      &.qrcode {
        img {
          width: 100px;
        }
      }
    }
    &.qrcode {
      top: ~'calc(100vh - 172px)!important';
    }
  }
}
