@import '../components/common.less';
.map {
  width: 100%;
  height: 100%;
  .mapT {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/images/map.png');
    background-size: cover;
    .map-selector {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .content {
    width: 100%;
    padding: 70px 0 20px;
    background: #f6f6f6;
    .content-t {
      justify-content: space-between;
      height: 40px;
      color: #1b2857;
      p {
        width: 470px;
        height: 1px;
        margin: 0;
        background: #ddd;
      }
      div {
        div {
          margin-right: 7px;
          margin-left: 15px;
          font-weight: 800;
          font-size: 28px;
        }
      }
      sup {
        top: -6px;
        font-size: 16px;
      }
    }
    .content-b {
      text-align: center;
      button {
        position: relative;
        padding: 4px 24px;
        color: #ccc;
        font-size: 18px;
        line-height: 12px;
        background: transparent;
        border: 1px solid rgba(204, 204, 204, 1);
        border-radius: 19px;
      }
    }
    .content-c {
      margin: 46px 0 40px;
      line-height: 28px;
    }
    .content-caseC {
      margin: 55px 0 40px;
      .item {
        position: relative;
        width: 384px;
        height: 280px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
        .item-hover {
          position: absolute;
          top: 0;
          left: 0;
          height: 330px;
          padding: 8px 24px;
          color: #fff;
          background: url('/images/img_cardbg_hover.png') center no-repeat;
          background-size: cover;
          border-radius: 10px;
          box-shadow: 0 0 10px 0 #1b2857;
          h1 {
            color: #fff;
            font-weight: 600;
            font-size: 24px;
          }
          p {
            margin: 30px 0;
            font-weight: 600;
            font-size: 20px;
          }
          div {
            color: rgba(255, 255, 255, 0.8);
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      .item1 {
        box-shadow: 0 36px 30px -25px #229fb3;
      }
      .item2 {
        box-shadow: 0 36px 30px -25px #909fbd;
      }
      .item3 {
        box-shadow: 0 36px 30px -25px #5966a2;
      }
    }
  }
  .mapImg {
    background: #f6f6f6;
    img {
      width: 100%;
    }
  }
}
