.professor-detail-page {
  .con-pro-r {
    width: 270px;
    margin-right: 20px;
    padding-top: 40px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    .con-pro-r-img {
      position: relative;
      width: 72px;
      height: 72px;
      margin: 0 auto;
      text-align: center;
      .img-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .img-type {
        position: absolute;
        right: -5px;
        bottom: -9px;
        color: #666;
        font-size: 24px;
        &.active {
          color: #27cc94;
        }
      }
    }
    .con-pro-r-name {
      margin-top: 10px;
      margin-bottom: 8px;
      color: #333;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
    }
    .con-pro-r-status {
      color: #aaa;
      font-size: 16px;
      text-align: center;
    }
    button {
      display: block;
      width: 220px;
      height: 40px;
      margin: 15px auto 30px;
      color: #fff;
      font-size: 16px;
      background: #1b2857;
      border-radius: 28px;
    }
    .con-pro-r-list {
      padding: 0 16px 8px;
      color: #333;
      font-weight: 600;
      font-size: 16px;
      border-bottom: 1px solid rgba(238, 238, 238, 0.8);
      img {
        width: 20px;
        height: 20px;
      }
    }
    p {
      padding: 20px;
      color: #666;
      font-size: 15px;
      line-height: 21px;
    }
    .con-pro-r-label {
      padding: 20px;
      color: #999;
      font-size: 13px;
      span {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
    .con-pro-r-rate {
      padding: 20px;
      color: #333;
      > div {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 0;
        .ant-rate {
          margin-left: 18px;
          color: #ff7d16;
          .ant-rate-star:not(:last-child) {
            margin-right: 14px;
          }
        }
      }
    }
  }
  .con-pro-m {
    flex: 1;
    width: 620px;
    .con-pro-m-title {
      color: #333;

      .ant-tabs {
        // box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
        overflow: visible;
      }
      .ant-tabs-nav {
        .ant-tabs-tab {
          font-size: 16px;
        }
        .ant-tabs-tab-active {
          color: #333;
          font-weight: 600;
          font-size: 18px;
        }
      }
      .ant-tabs-bar {
        padding-top: 10px;
        padding-left: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      }
      .con-pro-activity {
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
      }
      .pro-essay-item,
      .pro-info-item {
        margin-bottom: 8px;
        padding: 24px;
        word-break: break-all;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
        h1 {
          padding-bottom: 15px;
          color: #333;
          font-weight: 600;
          font-size: 16px;
          border-bottom: 1px solid #eee;
        }
        p {
          display: -webkit-box;
          margin: 15px 0 10px;
          overflow: hidden;
          color: #666;
          font-size: 16px;
          line-height: 22px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .show-more {
          color: rgba(0, 0, 0, 0.6);
          font-size: 13px;
          text-align: right;
          cursor: pointer;
        }
        .swiper-img-container {
          width: 170.667px;
          height: 170.667px;
        }
        .swiper-button-next,
        .swiper-button-prev {
          color: white;
          background: rgba(0, 0, 0, 0.2);
          &::after {
            font-size: 16px;
          }
        }
        > div {
          img {
            width: 185px;
            height: 185px;
          }
          img:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
    .article-detail {
      position: relative;
      padding: 56px 32px;
      word-break: break-all;
      background-color: white;
      .back-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px;
        cursor: pointer;
      }
    }
    .article-title {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 3px;
      text-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
    }
    .article-brief {
      font-size: 18px;
      line-height: 40px;
      letter-spacing: 3px;
      text-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
    }
    .article-rich-text {
      /* table 样式 */
      table {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
      }
      table td,
      table th {
        padding: 3px 5px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      table th {
        text-align: center;
        border-bottom: 2px solid #ccc;
      }

      /* blockquote 样式 */
      blockquote {
        display: block;
        margin: 10px 0;
        padding: 5px 10px;
        font-size: 100%;
        line-height: 1.4;
        background-color: #f1f1f1;
        border-left: 8px solid #d0e5f2;
      }

      /* code 样式 */
      code {
        display: inline-block;
        margin: 0 3px;
        padding: 3px 5px;
        // *display: inline;
        // *zoom: 1;
        background-color: #f1f1f1;
        border-radius: 3px;
      }
      pre code {
        display: block;
      }

      /* ul ol 样式 */
      ul,
      ol {
        margin: 10px 0 10px 20px;
      }
    }
  }
  .con-pro-l {
    width: 270px;
    margin-left: 20px;
    padding-top: 30px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    .con-pro-r-title {
      padding-bottom: 8px;
      padding-left: 16px;
      color: #333;
      font-weight: 600;
      font-size: 16px;
      border-bottom: 1px solid rgba(238, 238, 238, 0.8);
    }
    .con-pro-r-time {
      padding: 10px;
      border-radius: 0 0 12px 12px;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
      .time-date {
        color: #1b2857;
        font-size: 16px;
        text-align: center;
      }
      .site-calendar-demo-card {
        width: 100%;
        // border: 1px solid #f0f0f0;
        border-radius: 4px;
      }
      .ant-picker-cell {
        .ant-picker-cell-inner {
          div {
            font-size: 14px;
            text-align: center;
          }
        }
      }
      .ant-picker-date-panel {
        .ant-picker-content {
          th {
            font-size: 14px;
          }
        }
      }
    }
    .con-pro-r-list {
      height: 66px;
      padding: 0 16px;
      color: #333;
      font-size: 16px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  // 日历样式重绘
  .ant-picker-calendar .ant-picker-panel,
  .content .content-pro-c .con-pro-r .con-pro-r-time .site-calendar-demo-card {
    border: none;
  }
  .ant-picker-calendar-header,
  .ant-picker-content thead {
    display: none;
  }
  // 分页样式重绘
  .common-pagination {
    padding: 25px 0;
    text-align: center;
  }
  .ant-pagination-item-active {
    color: #fff;
    background: @primary-color;
  }
  .ant-pagination-item-active:focus a,
  .ant-pagination-item-active:hover a,
  .ant-pagination-item-active a {
    color: #fff;
  }
  .ant-pagination-item {
    border-radius: 8px;
    .con-pro-m {
      flex: 1;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    }
    .con-pro-l {
      width: 270px;
      margin-left: 20px;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
