//矢量图标
// @import './iconfont.css';

// 公用类
@font-size: 20px;
div {
    font-size: @font-size;
}
.flex{
    display: flex;
}
.flex-align{
    align-items: center;
}
.flex-justifyCenter{
    justify-content: center;
}
.flex-justifyBetween{
    justify-content: space-between;
}
.flex-justifyAround{
    justify-content: space-around;
}
.commonWidth{
    width: 1200px;
    margin: 0 auto;
}

