//矢量图标
// @import './iconfont.css';

// 公用类
@font-size: 20px;
div {
  font-size: @font-size;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-align {
  align-items: center;
}
.flex-justifyCenter {
  justify-content: center;
}
.flex-justifyBetween {
  justify-content: space-between;
}
.flex-justifyAround {
  justify-content: space-around;
}
.flex-alignCenter {
  align-items: center;
}
.flex-alignStart {
  align-items: flex-start;
}
.flex-alignEnd {
  align-items: flex-end;
}
.commonWidth {
  width: 1200px;
  margin: 0 auto;
}
