@import './common.less';
.footer{
    margin: 0 auto;
    padding: 60px 0;
    background: #25272B;
    > div{
        flex: 1;
        color: #ffffff;
        height: 240px;
    }
    .ft-l{
        border-right: 1px solid #fff;
        img{
            width: 88px;
            height: 88px;
            margin-right: 18px;
            margin-top: 11px;
        }
        .ft-l-t{
            padding-top: 19px;
            h1{
                color: rgba(255,255,255,.6);
                font-size: 16px;
                margin-bottom: 5px;
            }
            div{
                font-size: 32px;
                margin-bottom: 30px;
                line-height: normal;
            }
            p{
                color: rgba(255,255,255,.8);
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
    .ft-m{
        padding-top: 19px;
        border-right: 1px solid #fff;
        > div{
            color: #ffffff;
            line-height: normal;
            h1{
                color: rgba(255,255,255,.6);
                font-size: 16px;
                margin-bottom: 20px;
                width: 64px;
            }
            a{
                color: #ffffff;
                font-size: 16px;
                margin-bottom: 25px;
                transition: all .5s ease;
                -moz-animation: all .5s ease;
                -webkit-animation: all .5s ease;
                -o-animation: all .5s ease;
            }
            a:hover{
                color: #337AFF;
            }
        }
        .ft-copy{
            color: rgba(255,255,255,.6);
            font-size: 14px;
            text-align: center;
            margin-top: 40px;
        }
    }
    .ft-r{
        padding-top: 19px;
        img{
            width: 185px;
            height: 185px;
        }
        img:first-child{
            margin-right: 40px;
        }
    }
}