.im-entry {
  position: fixed;
  right: 40px;
  bottom: 60px;
  z-index: 999;
  width: 80px;
  height: 80px;
  background: url(/images/ic_float_talk.png) no-repeat ~'100% / 100%';
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  .ant-badge {
    p {
      color: white;
    }
  }
}

.chat-global-modal-container {
  .ant-modal-content {
    overflow: hidden;
    background: transparent;
    border-radius: 10px;
  }
  .ant-modal-body {
    padding: 0;
  }
}

.chat-global-container {
  height: 70vh;
  overflow: hidden;
  background: white;
  .chat-global-navigator {
    flex-shrink: 0;
    width: 56px;
    padding: 24px 0;
    color: white;
    font-size: 24px;
    background: #337aff;
    .close {
      display: inline-block;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .min {
      cursor: pointer;
    }
  }
}
