.im-entry {
  position: fixed;
  right: 40px;
  bottom: 60px;
  z-index: 999;
  width: 80px;
  height: 80px;
  background: url(/images/ic_float_talk.png) no-repeat ~'100% / 100%';
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  .ant-badge {
    p {
      color: white;
    }
  }
}

.chat-global-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 1000px;
  height: 620px;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
  transform: translateX(-50%) translateY(-50%);
  // .chat-global-body{
  // }
  .chat-global-navigator {
    flex-shrink: 0;
    width: 56px;
    padding: 24px 0;
    color: white;
    font-size: 24px;
    background: #337aff;
    .close {
      display: inline-block;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .min {
      cursor: pointer;
    }
  }
}
